@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
}

@layer base {
  li {
    @apply ml-3 md:ml-5 md:text-2xl;
  }
}
